<nav id="footer">
  <div class="container">
    <div class="pull-left fnav">
      <p style="font-size: 14px;">성균관대학교 <a href="#">멋쟁이사자처럼</a> ©2015. <a href="#">Likelion SKKU</a></p>
      <p style="font-size: 5px;">ALL RIGHTS RESERVED. COPYRIGHT © 2014. Designed by <a href="https://dribbble.com/shots/1817781--FREEBIE-Spirit8-Digital-agency-one-page-template">Robert Berki</a> and Coded by <a href="https://dribbble.com/jennpereira">Jenn Pereira</a></p>
    </div>
    <div class="pull-right fnav">
      <ul class="footer-social">
        <li><a href="http://www.facebook.com/likelionskku"><i class="fa fa-facebook"></i></a></li>
        <li><a href="http://www.facebook.com/likelion.net"><i class="fa fa-dribbble"></i></a></li>
        <li><a href="http://www.skku.edu"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      </ul>
    </div>
  </div>
</nav>