<% for i in 1..Subject.count%>
    
    <%j=Subject.find(i)%>
    
    <%if j.dept==@i%>
    
        <a href="/test/lecture/<%=j.code%>"> <%=j.name%> / <%=j.code%> / <%=j.prof%><br></a>
        
    <%end%>
    
<%end%>