<form name="test_b" method="POST" action="/test/write_cate_a">
    단과대학 = <input type="text" value="<%=params[:contents]%>" name="contents_a">
    학과 =     <input type="text" value="<%=params[:components]%>" name="compenents_a">
    강의평가 = <textarea name="ev_a"> </textarea>
    <button type="submit" class="btn tf-btn btn-default">쓰기</button>
</form>